.menu {
  @apply absolute top-full right-0 transition-all overflow-hidden flex-col w-full mt-1 rounded-xl max-h-0;
  transition-duration: 0.5s;
}

.menu.open {
  max-height: 10rem;
  overflow: auto;
}

.menu-item {
  @apply cursor-pointer text-left w-full bg-black hover:bg-slate-900 px-3 py-2
}

.menu-button {
  @apply items-center gap-2 text-base bg-black hover:bg-slate-900 text-gray-300 border-2 border-gray-300 rounded-2xl px-2 py-1 self-center relative cursor-pointer
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
